.container1{
    /* height: 650px; */
    height: auto;
    width: 100%;
    margin: auto;
   

    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 20px;
    font-family: sans-serif;
    background-color: white;
}





@media only screen and (min-width: 613px) and (max-width: 1090px) {
    .container1{
        height: auto;
        width: 100%;
        margin: auto;
        margin-top: 20px;
        font-family: sans-serif;
        
    }
   
    
  }


  @media only screen and (min-width: 0px) and (max-width: 612px) {
    .container1{
        height: auto;
        width: 100%;
        margin: auto;
        margin-top: 20px;
        font-family: sans-serif;
        
    }
  
   
    
    }