.cont3
{
    width: 100%;
    height: 800px;
    
    margin: 30px;
    padding: 30px;
    text-align: center;

}
.cal{
    width: 80%;
    height: 200px;
    padding: 20px;
    margin-left: 260px;
    margin-right: 0px;
   margin-top: 20px;
    text-align: center;
}
.Stats{
    
}